.contenedor-tarjetas {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    background-color: aqua;
}
/*configuracion de las tarjetas*/
.tarjeta{
    width: 300px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(51, 153, 153);
    margin: 25px;
    padding: 10px;
    box-sizing: border-box;
}
/*configuracion de la imagen*/
.tarjeta img{
    display: block;
    width: 25%;
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tarjeta h2, .tarjeta p{
    margin: 10px 0;
}
#finn-el-humano{
    background-color: chartreuse;
}